#app {
  .base-layout {
    .app-container {
      .sidebar-container {
        transition: width 0.28s;
        width: $--sidebar-width !important;
        background-color: $--sidebar-menu-bg-color;
        height: 100%;
        position: fixed;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;

        .scrollbar-wrapper {
          overflow-x: hidden !important;
        }

        .el-scrollbar__bar.is-vertical {
          right: 0px;
        }

        .el-scrollbar {
          height: 100%;
        }

        .sub-el-icon {
          margin-right: 12px;
          margin-left: -2px;
        }

        .el-menu {
          border-right: none;
        }
      }

      .main-container {
        min-height: 100vh;
        transition: margin-left 0.28s;
        margin-left: $--sidebar-width;
        position: relative;

        .navbar-container > .navbar {
          height: $--navbar-height;
          overflow: hidden;
          background: #fff;
          box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
          position: fixed;
          top: 0;
          right: 0;
          z-index: 99999;
          width: calc(100% - #{$--sidebar-width});
          transition: width 0.28s;

          .hamburger-container {
            line-height: 46px;
            height: 100%;
            float: left;
            cursor: pointer;
            transition: background 0.3s;
            -webkit-tap-highlight-color: transparent;

            &:hover {
              background: rgba(0, 0, 0, 0.025);
            }
          }
        }

        .content-container {
          padding-top: $--navbar-height;
          min-height: calc(100vh - #{$--navbar-height});
          height: calc(100vh - #{$--navbar-height});
          width: 100%;
          position: relative;
          overflow: hidden;

          .app-main {
            padding: 10px;
          }
        }
      }
    }
  }
  // collapse 布局 -- start --
  .collapse {
    .app-container {
      .sidebar-container {
        width: $--sidebar-collapse-width !important;

        .submenu-title-noDropdown {
          padding: 0 !important;
          position: relative;

          .el-tooltip {
            padding: 0 !important;

            .svg-icon {
              margin-left: 20px;
            }

            .sub-el-icon {
              margin-left: 19px;
            }
          }
        }

        .el-submenu {
          overflow: hidden;

          & > .el-submenu__title {
            padding: 0 !important;

            .sub-el-icon {
              margin-left: 19px;
            }

            .el-submenu__icon-arrow {
              display: none;
            }
          }
        }

        .el-menu--collapse {
          .el-submenu {
            & > .el-submenu__title {
              & > span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
              }
            }
          }
        }
      }
      .main-container {
        margin-left: $--sidebar-collapse-width;

        .navbar-container > .navbar {
          width: calc(100% - #{$--sidebar-collapse-width});
        }
      }
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: $--sidebar-width !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $--sidebar-width !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$--sidebar-width, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $--sidebar-menu-bg-hover-color !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
