$--sidebar-width: 210px; // 侧边栏宽度
$--sidebar-bg-color: #3c4669; // 侧边栏背景色
$--sidebar-text-color: #b1bad9; // 侧边栏文字颜色
$--sidebar-text-active-color: #ffffff;

$--navbar-height: 50px; // 导航栏高度

:export {
  sideBarWidth: $--sidebar-width;
  sideBarBgColor: $--sidebar-bg-color;
  sideBarTextColor: $--sidebar-text-color;
  sideBarTextActiveColor: $--sidebar-text-active-color;
  navBarHeight: $--navbar-height;
}
